<%= javascript_tag render(:partial => 'users', :formats => [:js]) %>

<div id="user-background-map">
	<div class="user-container ">
		<h2><%= @user.email %></h2>
		<p id="currentLocation">Current Location: 
			<span><%= @user.location ? @user.location.city : "None set." %></span>
		</p>
		<%= render 'form' %>
	</div>
</div>

