$text-color: #bbb;
$dark-text-color: #555;
$primary-font: "Amatic SC";
$secondary-font: Raleway; 

/*font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Almendra Display', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Londrina Sketch', cursive;
font-family: 'Bubbler One', sans-serif;*/

/*"Julius Sans One" "Amatic SC" "Reenie Beanie" Delius "Walter Turncoat" "Coming Soon" Raleway   Offside*/

/*===== Global =====*/
a {
	text-decoration: none;
	color: #555;
	&:hover {
		color: lighten($text-color, 10%);
	}
}


h1, h2, h3, h4, h5, h6 {
	color: #666;
	font-family: $secondary-font, sans-serif;
}

/*===== Navbar =====*/
.brand {
	display: inline-block;
	float: left;
	font-size: 2em;
	color: $text-color;
}

.pull-right {
	display: inline-block;
	float: right;
	color: $text-color;
	font-family: $secondary-font, sans-serif;
	li {
		margin: 0 10px;
	}
}

.nav {
	margin: 0 40px 20px 40px;
	list-style-type: none;
	font-family: $primary-font, sans-serif;
	display: block;
}

/*===== Main =====*/

body {
	background-color: #124222;
}

#container {
	/*padding-top: 30px;*/
	width: 800px;
	margin: 20px auto;
	background-color: #ccc;
	border-radius: 5px;
	clear: both;
	/*padding: 20px 20px 20px 40px;*/
	h2, h3 {
		color: #fff;
	}
	a {
		font-family: $secondary-font;
		&:hover {
			color: #fff;
		}
	}
}


/*===== Flash messages =====*/
#flash {
	clear: both;
	margin: 0 auto;
	width: 500px;
	text-align: center;
	background-color: #ddd;
	border-radius: 5px;
	padding: 5px;
	font-family: $secondary-font,sans-serif;

	#flash_alert {
		color: $dark-text-color;
	}
}

/*===== Forms =====*/
#form-container {
	/*width: 250px;*/
	padding: 20px 20px 20px 40px;
	h2 {
		margin-left: 10px;
	}
	.input-text {
		font-family: $secondary-font, sans-serif;
		opacity: .8;
		border-radius: 3px;
	}
}

form {
	color: $dark-text-color;
	font-family: $secondary-font, sans-serif;
	input {
		border: none;
		font-family: $secondary-font;
	}
	h3 {
		margin: 15px 0 5px 0;
	}
}

.link_color {
	color: $dark-text-color;
	margin: 0 5px;
	font-family: $secondary-font;
	font-size: 10pt;
}

.btn {
	padding: 5px;
	margin: 5px 5px 5px 0px;
	input {
		min-width: 100px;
		color: #fff;
		border-radius: 5px;
		font-family: $secondary-font;
		background-color: #999;
		&:hover {
			cursor: pointer;
			background-color: #777;
		}
	}
	p {
		font-family: $secondary-font;
		margin: 0 0 10px 0;
		font-size: 10pt;
	}
}

div label {
	font-size: 10pt;
}

div span {
	font-size: 10pt;
}

#origin-map, #destination-map {
	min-height: 500px;
	border-radius: 5px;
	float: left;
	display: inline-block;
	width: 800px;
	margin: auto;
	/*min-width: 800px;*/
}

#destination-map {
	width: 0px;
	display: none;
}

.field-label {
	font-family: $secondary-font;
	color: #fff;
	font-size: 1em;
}

#arrowButton {
	background: url(arrow.png) top left no-repeat;
	min-height: 50px;
	width: 100px;
	margin: 20px 0 0 100px;
	opacity: .7;
	&:hover {
		background: url(arrow.png) bottom left no-repeat;
		cursor: pointer; 
	}
}

#form-container .arrow:hover {
	color: #ff0;
}

.numbers {
	color: #fff;
	font-family: $primary-font;
	font-size: 75pt;
	margin: 0 0 0 60px;
	clear: left;
	opacity: .7;
}

#currentSalary {
  float: left;
  clear: left;
  width: 200px;
  margin: 10px 0 0 50px;
}

.ui-slider {
	height: 10px;
	background: transparent;
}

.ui-slider-range-min {
	opacity: .5;
}

.ui-slider-horizontal .ui-slider-handle  {
	height: 13px;
	top: -.1em;
	/*opacity: .5;*/
}

#compSalaryDisplay {
	margin: 20px 0 0 100px;
}

.salaryLabel {
	font-family: $primary-font;
	font-size: 30pt;
	color: #fff;
	opacity: .7;
	margin: 10px 0 0 60px;
}

.compSalaryLabel {
	font-family: $primary-font;
	font-size: 30pt;
	color: #fff;
	opacity: .7;
	margin: 130px 0 0 85px;
}

#compSalary {
	display: none;
}
