$text-color: #bbb;
$dark-text-color: #555;
$primary-font: "Amatic SC";
$secondary-font: Raleway; 
$background-color: #124222;

/*font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Almendra Display', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Londrina Sketch', cursive;
font-family: 'Bubbler One', sans-serif;*/

/*"Julius Sans One" "Amatic SC" "Reenie Beanie" Delius "Walter Turncoat" "Coming Soon" Raleway   Offside*/

/*===== Global =====*/
a {
	text-decoration: none;
	color: #fff;
	&:hover {
		color: lighten($background-color, 60%);
	}
}


h1, h2, h3, h4, h5, h6 {
	color: #666;
	font-family: $secondary-font, sans-serif;
}

/*===== Navbar =====*/
.brand {
	display: inline-block;
	float: left;
	font-size: 2em;
	color: #fff;
}

.pull-right {
	display: inline-block;
	float: right;
	font-family: $secondary-font, sans-serif;
	li {
		margin: 0 10px;
	}
}

.nav {
	margin: 0 40px 20px 40px;
	list-style-type: none;
	font-family: $primary-font, sans-serif;
	display: block;
	a {
		margin: 0 5px;
	}
}

/*===== Main =====*/

body {
	background-color: $background-color;
}

#container {
	width: 800px;
	margin: 20px auto;
	background-color: lighten($background-color, 40%);
	border-radius: 5px;
	clear: both;
	h2, h3 {
		color: #fff;
	}
	a {
		font-family: $secondary-font;
		color: $background-color;
		&:hover {
			color: #fff;
		}
	}
}


/*===== Flash messages =====*/
#flash_error, #flash_notice, #flash_alert, #alerts {
	/*clear: both;*/
	margin: 0 auto;
	width: 500px;
	text-align: center;
	background-color: #ddd;
	border-radius: 5px;
	/*padding: 5px;*/
	font-family: $secondary-font,sans-serif;
	/*display: none;*/

}

#flash_alert {
	color: $dark-text-color;
}

#alerts {
	display: none;
}

/*===== Forms =====*/
#form-container {
	width: 250px;
	padding: 20px 20px 20px 40px;
	h2 {
		margin-left: 10px;
	}
}

form {
	color: $background-color;
	font-family: $secondary-font, sans-serif;
	input {
		border: none;
		font-family: $secondary-font;
	}
	h3 {
		margin: 15px 0 5px 0;
	}
}

.link_color {
	color: $dark-text-color;
	margin: 0 5px;
	font-family: $secondary-font;
	font-size: 10pt;
}

.btn {
	padding: 5px;
	margin: 5px 5px 5px 0px;
	input {
		min-width: 100px;
		color: #fff;
		border-radius: 5px;
		font-family: $secondary-font;
		background-color: lighten($background-color, 20%);
		&:hover {
			cursor: pointer;
			background-color: $background-color;
		}
	}
	p {
		font-family: $secondary-font;
		margin: 0 0 10px 0;
		font-size: 10pt;
	}
}

div label {
	font-size: 10pt;
}

div span {
	font-size: 10pt;
}
/*===== locations =====*/
.location-container {
	/*width: 250px;*/
	padding: 20px 20px 20px 40px;
	background: url('grey.png');
	min-height: 600px;
	h2 {
		margin-left: 10px;
	}
	.input-text {
		font-family: $secondary-font, sans-serif;
		/*opacity: .8;*/
		border-radius: 3px;
		margin-bottom: 30px;
		margin-left: 40px;
		border: 0;
		outline: 0;
		border-bottom: 2px solid white;
		background: transparent;
		font-size: 14pt;
		color: white;
		text-align: center;
	}
}

.locationButton {
	margin: 5px 5px 10px 80px;
	/*background-color: #fff;*/
	input {
		text-align: center;
		padding: 10px;
		border: 0;
		min-width: 100px;
		color: #000;
		border-radius: 5px;
		font-family: $secondary-font;
		background-color: #fff;
		opacity: .7;
		&:hover {
			cursor: pointer;
			opacity: 1;
			/*background-color: lighten($background-color, 50%);*/
		}
	}
}

#origin-map, #destination-map {
	/*min-height: 800px;*/
	border-radius: 5px;
	float: left;
	display: inline-block;
	width: 400px;
	margin: auto;
	/*min-width: 800px;*/
}


.field-label {
	font-family: $secondary-font;
	color: #fff;
	font-size: 1em;
}

#form-container .arrow:hover {
	color: #ff0;
}

.numbers {
	color: #fff;
	font-family: $primary-font;
	font-size: 75pt;
	margin: 0 0 0 60px;
	clear: left;
	opacity: .7;
}

#currentSalary {
  float: left;
  clear: left;
  width: 200px;
  margin: 10px 0 0 50px;
}

.ui-slider {
	height: 10px;
	background: transparent;
}

.ui-slider-range-min {
	opacity: .5;
}

.ui-slider-horizontal .ui-slider-handle  {
	height: 13px;
	top: -.1em;
	/*opacity: .5;*/
}

#salaryDisplay {
	margin-left: 40px;
}
#compSalaryDisplay {
	margin: 20px 0 0 50px;
}

.salaryLabel {
	font-family: $primary-font;
	font-size: 30pt;
	color: #fff;
	opacity: .7;
	margin: 10px 0 0 60px;
}

.compSalaryLabel {
	font-family: $primary-font;
	font-size: 30pt;
	color: #fff;
	opacity: .7;
	margin: 10px 0 0 60px;
}

/*#compSalary {
	display: none;
}*/

.costIndex {
	font-family: $primary-font;
	font-size: 30pt;
	color: #fff;
	opacity: .7;
	margin: 10px 0 0 20px;
}

.ui-tooltip {
	font-family: $secondary-font;
	font-size: 8pt;
	padding: 5px;
	box-shadow: none;
	/*opacity: .8;*/
	background: transparent;
	color: white;
	min-width: 200px;
	text-align: center;
	border: white solid 1px;
}

.secondaryIndices {
	text-align: right;
	font-family: $secondary-font;
	font-size: 15pt;
	color: #fff;
	opacity: .7;
	margin: 0 50px 0 20px;
	p {
		margin-top: .5ex;
		margin-bottom: .5ex;
	}
}

/*===== users show page =====*/
.user-container {
	/*margin-left: 175px;*/
	padding: 20px 20px 20px 210px;
	font-family: $secondary-font;
	color: #fff;
	min-height: 300px;
	background: url('grey.png') left top;
	h2 {
		font-family: $primary-font;
		font-size: 26pt;
		color: #fff;
	}
	p {
		color: #fff;
	}
}

.user-input {
	font-family: $secondary-font, sans-serif;
	margin-left: 10px;
	border: 0;
	background-color: #fff;
	font-size: 12pt;
	color: $background-color;
	text-align: center;	
	width: 100px;
}

p > span {
	margin: 0 15px;
}

.updateButton {
		display: inline;
		text-align: center;
		padding: 5px;
		border: 0;
		min-width: 75px;
		color: #fff;
		border-radius: 5px;
		font-family: $secondary-font;
		background-color: lighten($background-color, 20%);
		&:hover {
			cursor: pointer;
			background-color: lighten($background-color, 10%);
		}
	
}