<div id="user_nav">
	<a class="nav brand" href="<% root_path %>">CAN I SWING IT?</a>

	<ul class="nav">
		<% if user_signed_in? %>
			<a href="#" class="pull-right"><li><%= @user.email %></li></a>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "pull-right" %> 
		<% else %>
			<li><%= link_to "Sign in", new_user_session_path, :class => "pull-right"%></li>
		<% end %>
	</ul>

</div>